__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/
.ipynb_checkpoints/

.vscode/
.idea/

.DS_Store
datasets/processed/
datasets/interim/
datasets/raw/
venv/
__pycache__/

models/
checkpoints/

logs/
outputs/

*.h5
*.pt
*.pth
*.ckpt

.en